@{
    ViewBag.Title = "Derrota";
}

<h1>Perdiste!</h1>
<p>Has quedado sin vidas. Mejor suerte la próxima vez.</p>

<a href='@Url.Action("NuevoJuego", "Home")'>Volver a jugar</a>

<script defer src="https://app.embed.im/snow.js"></script>

<style>
    body {
        background-color: black;
    }
</style>