@{
    ViewBag.Title = "Personajes";
}

<script defer src="https://app.embed.im/snow.js"></script>
<link rel="stylesheet" href="creditos.css">

<h1>Personajes</h1>

<div class="Contenedorr">
    <div class="card">
        <div class="bg uwu"></div>
        <div class="bg"></div>
        <div class="content">
            <div class="img-card">
                <img src="https://img.freepik.com/fotos-premium/mujer-hermosa-35-anos-ojos-verdes-aretes-sonrisa-grande-cabello-largo-negro-atuendo-negocios-oficina-moderna-ia-generativa-aig18_31965-148038.jpg"
                    alt="">
            </div>
            <div class="text-card">
                <h2>Valentina Cruz</h2>
                <p>La doctora Valentina Cruz tiene 35 años es una destacada astrofísica y experta en sistemas de soporte
                    vital. Es una
                    mujer de cabello oscuro, ojos brillantes y una sonrisa amable. Siempre lleva consigo una libreta de
                    apuntes y una
                    lupa, lista para examinar cualquier detalle que pueda ser relevante.
                    Su profundo conocimiento en astrofísica y sistemas de soporte vital la convierte en una excelente
                    solucionadora de
                    enigmas relacionados con la tecnología espacial. Además, su habilidad para observar minuciosamente
                    los
                    objetos puede
                    revelar pistas ocultas.</p>
                <form method="get" asp-action="Comenzar" id="comenzarForm">
                    <button id="btn" type="submit">Seleccionar</button>
                </form>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="bg uwu"></div>
        <div class="bg"></div>
        <div class="content">
            <div class="img-card">
                <img src="https://www.xlsemanal.com/wp-content/uploads/sites/3/2017/01/barba-cuidados-belleza-hombre-2.jpg"
                    alt="">
            </div>
            <div class="text-card">
                <h2>Lucas Martinez</h2>
                <p>El capitán Lucas Martínez tiene 35 años y es un antiguo piloto espacial con una amplia experiencia en
                    misiones de
                    exploración. Es un hombre alto y fornido, con cabello corto y una barba bien cuidada. Siempre lleva
                    su traje
                    espacial y tiene una mirada determinada en sus ojos.
                    Como ex piloto espacial, el Capitán Martínez es experto en orientarse en entornos extraterrestres y
                    tiene
                    habilidades para resolver problemas relacionados con la navegación y los sistemas de propulsión.
                    Además, su
                    liderazgo natural es invaluable para mantener al equipo unido y motivado.</p>
                <form method="get" asp-action="Comenzar" id="comenzarForm">
                    <button id="btn" type="submit">Seleccionar</button>
                </form>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="bg uwu"></div>
        <div class="bg"></div>
        <div class="content">
            <div class="img-card">
                <img src="https://phantom-telva.unidadeditorial.es/ed8ee9d02ac52442efd204475f4c3f78/resize/828/f/jpg/assets/multimedia/imagenes/2021/11/12/16367189330325.jpg"
                    alt="">
            </div>
            <div class="text-card">
                <h2>Sofia Ramírez</h2>
                <p>La doctora Sofia Ramírez tiene 50 años y es una astro bióloga y experta en formas de vida
                    extraterrestres. Tiene una
                    apariencia sofisticada con cabello castaño claro y una sonrisa encantadora. Siempre lleva consigo su
                    lente de
                    aumento y una mochila repleta de instrumentos científicos.
                    Su profundo conocimiento en astrobiología y su habilidad para analizar patrones y signos de vida en
                    otros planetas
                    son fundamentales para descubrir pistas relacionadas con seres extraterrestres. Además, su capacidad
                    para organizar
                    y clasificar información es esencial para desentrañar conexiones ocultas.</p>
                <form method="get" asp-action="Comenzar" id="comenzarForm">
                    <button id="btn" type="submit">Seleccionar</button>
                </form>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="bg uwu"></div>
        <div class="bg"></div>
        <div class="content">
            <div class="img-card">
                <img src="https://i.pinimg.com/originals/d9/59/50/d9595010b2513dbbdbebec21569e0991.jpg" alt="">
            </div>
            <div class="text-card">
                <h2>Carlos Morales</h2>
                <p>El ingeniero Carlos Morales tiene 28 años y es un ingeniero de sistemas espaciales y experto en
                    reparaciones
                    técnicas. Es un joven enérgico con cabello corto y lentes, siempre listo para desmontar y solucionar
                    cualquier
                    dispositivo. Lleva un cinturón de herramientas y una tablet para acceder a información técnica.
                    La experiencia del Ingeniero Morales en sistemas espaciales le otorga una ventaja para resolver
                    acertijos
                    relacionados con tecnología avanzada y reparaciones técnicas. Su habilidad para analizar diagramas y
                    desbloquear
                    sistemas complejos será crucial para superar obstáculos en la estación.</p>
                <form method="get" asp-action="Comenzar" id="comenzarForm">
                    <button id="btn" type="submit">Seleccionar</button>
                </form>
            </div>
        </div>
    </div>
</div>




<style>
    body {
        background-color: black;

    }

    img {
        width: 300px;
        height: 200px;
        border: 2px black solid;
    }

    h1 {
        text-align: center;
        margin-bottom: 100px;
        color: white;
        font-size: 45px;
    }

    .card {
        position: relative;
        width: 600px;
        height: 660px;
        background: #444;
        border-radius: 14px;
        display: inline-block;
        margin: 60px;
        transition: 0.6s;
    }

    .card h2 {
        color: rgb(206, 205, 205);
    }

    .card p {
        color: #ffffff80;
    }

    .img-card {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .bg {
        position: absolute;
        z-index: -1;
        inset: -4px;
        border-radius: 16px;
        overflow: hidden;
    }

    .uwu {
        filter: blur(8px);
        transition: filter 0.3s;
    }

    .bg::before {
        content: '';
        position: absolute;
        aspect-ratio: 1/1;
        top: 50%;
        left: 50%;
        min-width: 150%;
        min-height: 150%;
        background-image: conic-gradient(hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%),
                hsl(0, 0%, 100%));
        animation: speeen 4s linear infinite;
        transform-origin: 0% 0%;
        transform: rotate(0deg) translate(-50%, -50%);
    }


    .content {
        position: relative;
        padding: 14px 16px;
    }

    .content div {
        text-align: center;
    }

    .Contenedorr {
        text-align: center;
        margin-left: -200px;
        margin-right: -200px;
    }

    button {
        padding: 10px 20px;
        text-transform: uppercase;
        border-radius: 8px;
        font-size: 17px;
        font-weight: 500;
        color: #ffffff80;
        text-shadow: none;
        background: transparent;
        box-shadow: transparent;
        border: 1px solid #ffffff80;
        transition: 0.5s ease;
        user-select: none;
        margin-top: 20px;
    }

    #btn:hover {
        color: #000000;
        background: #ffffff;
        border: 1px solid #ffffff;
        text-shadow: 0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #ffffff;
        box-shadow: 0 0 5px #ffffff,
            0 0 20px #ffffff,
            0 0 50px #ffffff,
            0 0 100px #ffffff;
    }
</style>