@{
    ViewBag.Title = "Tutorial";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<script defer src="https://app.embed.im/snow.js"></script>

<section>

<h1>Historia</h1>

<p class="text-historia">Nos encontramos en el año 2550 en la nave espacial “Orbe Galáctico”. La tripulación de la nave
    espacial se encuentra
    en problemas. Luego de detectar una señal de socorro proveniente de un planeta cercano, se asentaron un tiempo en él
    para brindar ayuda. Pronto descubrieron que el planeta estaba habitado por una especie extraterrestre peligrosa, que
    los capturó y los encerró en una nave espacial desconocida. Ahora, la tripulación tiene solo una hora para descubrir
    cómo escapar de la nave y regresar al planeta Tierra.
</p>

<img class="img-navvve" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Gauchito_one_e.jpg/640px-Gauchito_one_e.jpg" alt="">

<h1 class="title-tutorial">Tutorial</h1>

<p>¡Te damos la bienvenida al Escape Room del espacio! ¡Ha llegado el momento de unirte a la tripulación de Orbe
    Galáctico y poner tus habilidades mentales a prueba para escapar de la nave de los extraterrestres! </p>

<p>Te damos las instrucciones y algunos consejos para jugar:</p>
<div>
    <ul class="consejos-tutorial">
        <li>Antes de comenzar la misión, lee con atención la historia detrás de la temática, la vas a necesitar para
            escapar. A
            medida que jugas, deberás encontrar pistas y soluciones para escapar.
        </li>
        <li>Una vez dentro de la sala de escape, asegúrate de prestar atención a todos los detalles y objetos que
            encuentres.
            Examina detalladamente cada elemento de la habitación y trata de encontrar qué tienen en común entre ellos.
        </li>
        <li>Recordá que es necesario trabajar en equipo con tus compañeros de tripulación para encontrar la salida.
            Trabajar
            juntos aumentará las posibilidades de éxito.</li>
        <li>Si te sentís atascado, no te preocupes. Si no encontrás ninguna pista podés solicitar la ayuda del personal.
            Como
            máximo, podés pedir 1 sola pista por habitación, es decir, en total 4 pistas.
        </li>
        <li>Prestá atención al tiempo y recordá que estás en una carrera contra el reloj. Tienen 1 hora para escapar de
            la nave.
        </li>
    </ul>
</div>

<button class="btn" type="button" onclick="window.location.href = '@Url.Action("Personajes","Home")';">
    <strong>PERSONAJES</strong>
    <div id="container-stars">
        <div id="stars"></div>
    </div>

    <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
</button

</section>

<style>
    body {
        background-color: black;
        color: white;
    }

    section {
        text-align: center;
    }

    .text-historia {
        margin-bottom: 50px;
        margin-right: 170px;
        margin-left: 170px;
        margin-top: 20px;
        text-align: justify;
    }

    .title-tutorial {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .consejos-tutorial li {
        margin: 40px;
        margin-right: 200px;
        margin-left: 200px;
        list-style: none;
    }


</style>