@{
    ViewBag.Title = "Tutorial";
}

<script defer src="https://app.embed.im/snow.js"></script>

<h2>Breve reseña del juego</h2>
<p>Explicación de qué trata la temática elegida</p>

<h2>Imágenes del juego</h2>
<img src="/Imagenes/imagen1.jpg" alt="Imagen 1">


<style>
    body {
        background-color: black;
        
    }
</style>