@{
   ViewBag.Title = "Victoria"; 
}

<h1>Has Conseguido Escapar! Felicitaciones!</h1>

<script defer src="https://app.embed.im/snow.js"></script>

<style>
    body {
        background-color: black;
    }
</style>