.arrow {
    transform: rotate(360deg);
    cursor: pointer;
    margin: 100px;
    margin-top: 70px;
    margin-left: 600px;
    margin-bottom: 120px;
}

.arrow span {
    display: block;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: rotate(45deg);
    margin: 5px;
    animation: animate28797 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate28797 {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


.boton-vidas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 5px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68, -0.55, .27, 2.5),
        border-color 400ms ease-in-out,
        background-color 400ms ease-in-out;
    word-spacing: -2px;
    margin: 30px;
    margin-left: 565px;
}

span {
    font-size: 15px;
}

@keyframes movingBorders {
    0% {
        border-color: #fce4e4;
    }

    50% {
        border-color: #ffd8d8;
    }

    90% {
        border-color: #fce4e4;
    }
}

.boton-vidas:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
}

.boton-vidas svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
}

.filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
}

@keyframes beatingHeart {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.15);
    }

    30% {
        transform: scale(1);
    }

    45% {
        transform: scale(1.15);
    }

    60% {
        transform: scale(1);
    }
}

.boton-vidas:hover .empty {
    opacity: 0;
}

.boton-vidas:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
}


.btnn {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin: 20px;
}

.btnn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btnn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btnn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btnn::after {
    background-color: #fff;
}

.btnn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ffffff;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    margin: 15px;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    
  }