
header nav a {
  text-decoration: none;
  padding: 30px;
  list-style: none;
  font-size: 20px;
  color: rgb(255, 255, 255);

}


.lista {
  display: flex;
  list-style: none;
  margin: 65px;
  margin-left: -185px;
}



header nav {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  
}


.logo img {
  width: 320px;
  height: auto;
  margin-top: -30px;
  
  
}

.logo {
  margin-left: 175px;
  margin-right: 200px;
  
}

